/* Separate Media Query css for more organized css*/

/* Small Mobile: Styles for viewports between 400px and 600px. */
 @media (max-width: 539px) {
     body {
         padding: 0;
    }
     header {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 12px;
    }
     .introduction h3 {
         font-size: 40px;
    }
     #main-title {
         font-size: 40px;
    }
     #nav-logo {
         font-size: 5px;
    }
     ul {
         display: none;
    }
    /* turn the 3 columns into 1*/
     .article {
         width: 100%;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         gap: 12px;
    }
     .gallery {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
    }
     section .author-about{
         display: flex;
         flex-direction: column;
    }
    /*Display: none in one image for phone*/
}


/* Large Mobile: Styles for viewports between 540px and 720px. */
 @media (max-width: 719px) and (min-width: 540px){
    /* body{
         display: grid;
         grid-template-columns: 1fr;
    }
     */
    /* turn the 3 columns into 1*/
     .article {
         width: 100%;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         gap: 20px;
    }
     .gallery {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
    }
     section .author-about{
         display: flex;
         flex-direction: column;
    }
     footer {
         width: 70%;
    }
}


/* Tablet: Styles for viewports between 720px and 1024px. */
 @media (720px <= width <= 1024px ) {
     body{
         width: 100%;
    }
     article {
         padding: 50px;
    }
     article .column {
         width: 100%;
         gap: 20px;
    }
}



/* Desktop: Styles for viewports 1024px or greater */
 @media screen and (min-width: 1024px) {
     section{
         padding: 50px;
    }
}
